.social-link{
    display: flex;
    height: 44px;
    width: 44px;
    background-position: center;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    color:#AFB1B8;
}        
