body{
    /* display: block; */
    font-family: Roboto, sans-serif;
    color:var(--maintext-color);
    font-size: 14px;
    letter-spacing: 0.03em;
    background: var(--background-main-color);
    }

.list{
        list-style: none;
        }

.h3{
            font-weight: 700;
            font-size: 14px;
            line-height: 1.14;
            text-transform: uppercase;
            margin-bottom: 10px;
    }

*:hover{
        transition: background var(--transition-duration) var(--transition-function), color var(--transition-duration) var(--transition-function),
        box-shadow var(--transition-duration) var(--transition-function);
    }

.basic-title{
    font-size: 28px;
    letter-spacing: 0.03em;
    line-height: 1.17;
    text-align: center;
    margin-bottom: 30px;
@media screen and (min-width: 1200px) {
    font-size: 36px;
    margin-bottom: 50px;
}
         
        }
        
.btn-close {
            background-color: transparent;
            }