:root {
    --maintext-color:#212121;
    --secondtext-color:#757575;
    --accent-color:#2196F3;
    --light-text-color:#FFFFFF;
    --background-dark-color:#2F303A;
    --background-medium-color:#F5F4FA;
    --background-light-color:#E5E5E5;
    --background-main-color:#FFFFFF;
    --typical-margin:30px;
    --typical-padding:60px;
    --transition-duration:250ms;
    --transition-function: cubic-bezier(0.4, 0, 0.2, 1);
}