.footer{
    background: var(--background-dark-color);
    // padding: 60px 15px;
    
    @media screen and (min-width: 768px){
        // padding: 60px 89px 60px 76px;    
        }
    @media screen and (min-width:1200px){
        padding: 60px auto;}

    &__wrap{
        margin: 0 auto;
        text-align: center; 
        
        @media screen and (min-width:1200px){
        display: flex;
        align-items: baseline;}
        }

    &__contacts-social {
        @media screen and (min-width: 768px){
        display: flex;
        justify-content: space-between;
        }    
        
        @media screen and (min-width: 1200px){
        align-items: baseline;  
    }
    }

    &__contacts {
        @media screen and (min-width: 1200px){
        // border: 1px solid red;
        text-align: left;   
        }
    }
    
            
    &__title{
    color: var(--light-text-color);
    margin-bottom: 20px;
    display: block;
    @media screen and (min-width:1200px) {
        text-align: left;}
    }

    &__contact-item:nth-child(3){
    margin-bottom: 0;
    }

   &__social{
    @media screen and (min-width: 1200px) {
    margin-left: 70px;    
    }   
    }

    &__social-list{
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
    @media screen and (min-width:1200px) {
        margin-bottom: 0;    
    }
    }
}



.footer__social-item:not(:first-child){
margin-left: 10px;
}

.footer__social-link{
background-color: rgba(255, 255, 255, 0.1);
color: var(--light-text-color);
    &:hover, &:focus{
    background-color: var(--accent-color);
    }
}


.footer-socmed-icon{
 fill: currentColor;
/* background-color: rgba(255, 255, 255, 0.1); */
}

.footer__logo-web{
margin-bottom: 20px;
}

.footer__logo-studio{
    color: var(--background-main-color);    
}

.footer__contact-link {
font-style: normal;
display: block;
font-weight: 400;
line-height: 1.71;
margin-bottom: 8px;
@media screen and (min-width: 1200px){
    margin-bottom: 9px;
}

        &--address {
        color: var(--light-text-color);
        }
        
        &--contact{
        color: rgba(255, 255, 255, 0.6);
        }

        &:hover, &:focus {
        color: var(--accent-color);
        }
}
.footer__contact-item:nth-child(3){
    margin-bottom: 60px;
    @media screen and (min-width:1200px) {
        margin-bottom: 0;
    }
}